html, body, body > div {
  height: 100%;
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  font-family: system-ui, system, -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
}

a.button {
  background: #5A5A5C;
  border: none;
  border-radius: 3px;
  color: #fff;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle
}
